
div.css-demzbm.e88czh83 {
    background-color: #6843bf;
    width: 50px;
    height: 50px;
    background: url(replace_this_with_moon_slider);


}



div.st-av.st-aw.st-ax.st-ay.st-gf.st-bh.st-b7.st-bi.st-bf {
    background: linear-gradient(to right, rgb(59, 48, 48) 0%, rgb(90, 55, 185) 42.8571%, rgba(151, 166, 195, 0.25) 42.8571%, rgba(151, 166, 195, 0.25) 100%);

}